{% extends 'app/index.html' %}

{% load static %}

{% block title %} SHORTLIST {% endblock title %}

{% block body %}

<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-playlist-plus"></i>
      </span> Edit Job
    </h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'human-resource' %}">Human Resource</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Edit Job</li>
        </ol>
      </nav>


</div>


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Data Scientist</h4>
            <form class="forms-sample">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Recruiting</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="active" value="" checked> Active</label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="expired" value="option2">Expired</label>
                      </div>
                    </div>
                </div>

              <div class="form-group">
                <label for="exampleInputName1">Job Title</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
              </div>

              <div class="form-group">
                <label>Depertment</label>
                <select class="js-example-basic-single" style="width:100%">
                  <option value="HR">Human Resource</option>
                  <option value="IT">Information Technology</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Finance">Finance</option>
                  <option value="R&D">Research and Development</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleInputCity1">Salary ($)</label>
                <input type="number" class="form-control" id="exampleInputCity1" placeholder="Salary">
              </div>

              

              <div class="form-group">
                <label>Location</label>
                <select class="js-example-basic-single" style="width:100%">
                  <option value="Nairobi, Kenya">Nairobi, Kenya</option>
                  <option value="California, US">California, US</option>
                  <option value="London, UK">London, UK</option>
                  <option value="San fransisco, US">San fransisco, US</option>
                  <option value="Cape Town, SA">Cape Town, SA</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleTextarea1">Introduction</label>
                <textarea class="form-control" id="exampleTextarea1" rows="3"></textarea>
              </div>

              
              
              <div class="form-group">
                <label for="exampleTextarea1">Brief Posting Description</label>
                <textarea class="form-control" id="exampleTextarea1" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label for="exampleTextarea1">Responsibilities</label>
                <textarea class="form-control" id="exampleTextarea1" rows="12"></textarea>
              </div>

              <div class="form-group">
                <label for="exampleTextarea1">Qualifications</label>
                <textarea class="form-control" id="exampleTextarea1" rows="8"></textarea>
              </div>

              <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
</div>


{% endblock body %}